*~
Makefile
src/pincaster
src/*.dSYM
*.cmake
INSTALL
aclocal.m4
autom4te.cache
*.log
configure
*.scan
depcomp
install-sh
missing
Makefile.in
src/Makefile.in
src/ext/Makefile.in
*.status
*.tar.*
src/.deps
src/*.o
stamp-*
config.*
ltmain.sh
src/yajl/.deps
src/yajl/*.o
src/levent2/m4/lt*.m4
src/levent2/m4/libtool.m4
testing
src/levent2/doxygen
