*.cmake
*.log
*.scan
*.status
*.tar.*
*~
INSTALL
Makefile
Makefile.in
aclocal.m4
autom4te.cache
compile
confdefs.h
config.*
configure
depcomp
install-sh
ltmain.sh
missing
src/*.dSYM
src/*.o
src/.deps
src/Makefile.in
src/ext/Makefile.in
src/levent2/doxygen
src/levent2/m4/libtool.m4
src/levent2/m4/lt*.m4
src/pincaster
src/yajl/*.o
src/yajl/.deps
stamp-*
testing
